*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

:active,
a:active {
  outline: none;
}

input,
button,
textarea,
select {
  margin: 0;
  font: inherit;
}